$font-size-base: 0.75rem;
$line-height-base: 1;

@import "~bootstrap/scss/bootstrap";

.registers {
	font-size: 0.65625rem;
}
.registers input {
	border: 0 none;
}

td.label {
	text-align: right;
}

#fps {
  white-space: pre;
  font-family: monospace;
}

#memory_viewer td {
	text-align: center;
	padding: 0.2rem;
}

.pc {
	
}

