$font-size-base: 0.75rem;
$line-height-base: 1;

@import "~bootstrap/scss/bootstrap";

.left-sidebar {
    width: 320px;
}

.memory-address {
    display: inline-block;
    line-height: 25px;
}

.memory-cell {
    display: inline-block;
    line-height: 25px;
}

#fps {
  white-space: pre;
  font-family: monospace;
}

.registers {
    font-size: 0.75rem;
}

.register {
    width: 25%;
    margin-bottom: 0.5rem;

    label {
        display: inline-block;
        margin: 0;
        width: 50%;
        font-weight: bold;
        text-align: right;
        height: 16px;
        line-height: 16px;
        vertical-align: top;
        margin-right: 0.2rem;
    }

    input {
        display: inline-block;
        vertical-align: top;
        height: 16px;
        line-height: 16px;
    }

    input[type="text"] {
        border: 0 none;
    }
}

.Resizer {
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

 .Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

 .Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
    cursor: not-allowed;
}
.Resizer.disabled:hover {
    border-color: transparent;
}
