$font-size-base: 0.75rem;
$line-height-base: 1;
$body-color: #ddd;

@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "bootswatch";

.left-sidebar {
    width: 320px;
}

.memory-address {
    display: inline-block;
    line-height: 25px;
}

.memory-cell {
    display: inline-block;
    line-height: 25px;
}

#fps {
  white-space: pre;
  font-family: monospace;
}

.registers {
    font-size: 0.75rem;

    .input-group {
        margin: 0.1rem;
    }

    .input-group-text {
        border-radius: 0;
        padding: 0.375rem 0.5rem;
    }
    .form-control {
        border-radius: 0;
        padding: 0.375rem 0.25rem;

        &[readonly] {
            background: white;
        }
    }
}

.register {
    width: 25%;
    margin-bottom: 0.5rem;

    label {
        display: inline-block;
        margin: 0;
        width: 50%;
        font-weight: bold;
        text-align: right;
        height: 16px;
        line-height: 16px;
        vertical-align: top;
        margin-right: 0.2rem;
    }

    input {
        display: inline-block;
        vertical-align: top;
        height: 16px;
        line-height: 16px;
    }

    input[type="text"] {
        border: 0 none;
    }
}
